/*este pretende manejar el formateo de títulos*/

/*Nuestros proyectos*/
.section_title_container{
    text-align: start;
    margin-top: 3rem;
    margin-bottom: 3rem;
  /*  margin-left: 2.5rem;*/

}
.section_title_container1{
  text-align: start;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 2.5rem;
}
.section_title1{
  font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 100;
    text-align: start;
    display: inline;
    color: var(--darkgrey);
    border-bottom: 2px solid blue;

}
.section_title{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 100;
    text-align: start;
    display: inline!important;
    color: var(--darkgrey);
    border-bottom: 2px solid blue;
    }
    /*compromiso*/
    .compromiso_heading{
        background-color: white;
        margin-top: 48px;
        padding-bottom: 48px;
      }
      
      .compromiso_main_title{
        display: inline;
        border-bottom: 5px solid rgb(42, 42, 198);
      }

    /*esto para manejar el margin de cada section box*/
    #carouselMultiItemExample{
        margin:  0 2.5rem;
    }

    .carousel-inner{
        background-color: rgb(242, 242, 242);
 }
    .compromiso_container{
      margin: 0 2.5rem;
background-color:rgba(242, 242, 242, 1);
    }


    .contact_container {
        background-color: rgba(242, 242, 242, 1);
          position: relative;
          padding-left: 2.5rem;
          padding-right: 2.5rem;
         
      }

      /*all butons*/  

    .btn{
        color: white;
        background-color: rgb(58, 112, 200);
      }
      @media screen and (max-width: 625px){
        .section_title{
          margin-left: 0.5rem;
        }
        
        .section_title1{  
          margin-left: 0px;
        }
        #carouselMultiItemExample{
          margin:  0 0.5rem;
      }
      .compromiso_container{
        margin: 0 0.5rem;
      }
      .contact_container {
        background-color: rgba(242, 242, 242, 1);
          position: relative;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
         
      } 
      .section_body{
        margin-left: .5rem;
        margin-right: .5rem;
      }

      }


