.hero-section {
    position: relative;
    background-color: black;
}

.hero-section img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position:center ;
   }

.hero-overlay {
    width: 65%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 25%;
    left: 2.5rem;
    color: white;
    }
    .title_container{
  margin-bottom: 5%; /*space between title and paragraph*/
  background: rgba(0, 0, 255, 0.5); /* Set your desired overlay color and opacity */border-bottom: 10px solid rgb(4,4,60);
  width:100%;
  padding:25px;
  border-bottom: 10px solid rgb(4, 4, 60);
}
     .hero-overlay h1{
          font-size: 70px;
              }
    .frase{
    position: relative;
    background-color: transparent;
    line-height: 1.5;
    width: 70%;
  }
       .frase p{
        width: 100%;
        font-size: 20px;
        }
    
@media screen and (max-width: 1500px){
    .hero-overlay{
        top: 15%;
    }}        
@media screen and (max-width: 920px){
    .frase{
        width: 90%;
    }
    
         .title_container{
          padding-bottom: 40px;
         }
    .hero-overlay h1{
      display: inline;
      text-underline-offset: 10px;
      font-size: 30px;
     
}
@media screen and (max-width: 810px){
   
    .hero-overlay {
        top: 15%;
        
         }
     
}


@media screen and (max-width: 625px){
  .nav-menu.active {
    padding-left: 0;
    transform: translateX(100%)

  }
  .hero-section img{
        width: 100%;
        height: 80vh;
        object-fit: cover;
    
    }
    
    .frase{
        width: 100%;
    }
    .hero-overlay {

        transform: translate(-40%, -50%)
         width: 85%;
          }
    .hero-overlay h1{
    text-decoration-thickness: 6px;
    margin-bottom: 25px;
    font-size: 30px;
}
.frase p{
      
    }
}

    #accordionContent a{
    font-family: 'Courier New', Courier, monospace;
    color: inherit;
    text-decoration: none;
    margin-left: 3px;
    }
    @media screen and (max-width: 500px){
      .nav-menu.active {
        width: 100%;
        transform: translateX(0);
      }
       .frase{
         text-align: justify;
          width: 100%;
         }
        

        .hero-overlay {  
           
         font-size: 30px;
         width: 100%;
        
         
         
        }
    }
      .hero-section img{
        width: 100%;
        opacity: .6;
    }

    @media screen and (max-width: 500px){
      .hero-overlay{
        width: 80%;
        
       
        
      }
      .title_container{
        line-height: 50px;
      }

        .hero-section img{
        width: 100%;
        object-fit: cover;
    
    }
    }
    @media screen and (max-width: 415px){
      .hero-overlay{
        width: 95%;
        left: 2.5%;
       
      }
    }
    