.item {
    padding-left: 20px!important;
    padding-right: 20px!important;
}
.slider-ss{
    height: 550px !important;
   
   margin-left: 2.5rem;
   margin-right: 2.5rem;
    
}

.slider-gallery-4{
    width: 33%;
}



