.reparation{

    display: none;
    background-color: black;
    background-image:url('data/enconstrucion10.png') ;
    
    width: 600px;
    height:414px ;
    position: absolute;
    top:30px;

}

.rep_content{
    display: block;
    margin-top: 50px;
    margin-left: 200px;
}