
@media screen and (max-width: 600px) {
                
    .contact_container{
    margin-right: 20px;
    };
    .Form_data_container{
        border: 3px solid green;
        background-color: transparent;
    }
    .contact_container{
        margin-right: 20px;
     }
     .form-control{
        background-color: transparent;
        border: 3px solid blue;
     }
     #map{
        position: absolute;
        top: 20%;
        left: 0;
         z-index:-1;
     }


   
    
}
@media screen and (max-width: 900px) {
   
   .frase{
    background-color: green;
    font-size: medium;
    line-height:1;
   } 
    
}
@media screen and (max-width: 1140px) {
    .frase{
        font-size: large;
        line-height:1.5;
    }
}
@media screen and (min-width: 1140px) {
    .frase{
        font-size: x-large;
        line-height: 2;

    }
}