.control_container{
    width: 45%;
}

@media screen and (max-width: 500px) {
    .control_container{
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .control_container{
        width: 70%;
    }
}